rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /quiz/{quizId} {
      allow read: if true;
      allow write: if request.auth != null && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.admin == true;
      
      match /responses/{responseId} {
      	allow read: if request.auth != null && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.admin == true;
        allow update: if false;
        allow delete: if false;
        allow create: if get(/databases/$(database)/documents/quiz/$(quizId)).data.responseCount<100;
      }
    }
  }
}