<mat-nav-list>
  <mat-list-item *ngFor="let quiz of quizList">
    <span>
      <strong>id</strong>: {{ quiz.id }} <strong>title</strong>:
      {{ quiz.title }}
    </span>
    <a mat-flat-button [routerLink]="['/edit', quiz.id]">Edit</a>
    <a mat-flat-button [routerLink]="['/responses', quiz.id]">Responses</a>
    <button mat-flat-button (click)="clone(quiz)">Clone</button>
    <button mat-flat-button (click)="reset(quiz.id)">Reset Local</button>
    <a mat-flat-button [href]="'/quiz/' + quiz.id" target="_blank">Open</a>
  </mat-list-item>
</mat-nav-list>
