.json {
  margin: 2rem;
  width: 100%;
}

mat-card {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
}

mat-expansion-panel {
  margin-bottom: 2rem;
  ::ng-deep.mat-expansion-panel-body {
    display: flex;
    flex-direction: column;
  }
}
